html, body {
  height: 100%;
}
body {
  margin: 0;
}

.App {
  display: flex;
  max-width: 50%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5em;
  border-radius: 10px;
  background-color: #310825;
  color: #F5F5F5;
}

.AppWrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 100%;
  background-color: #64134c;
}

.Bat {
  max-width: 150px;
}

.MailButton {
  margin: 10px;;
}

.ProfilePic {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}