html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


:root {
  --dark-background-color: #23252C;
  --dark-blue: #1A1B21;
  --light: #F5F5F5;
  --white: #FFFFFF;
  --gray: #DCDCDC;
  --yellow: #F3BF99;
}

.App {
  display: flex;
  max-width: 50%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5em;
  border-radius: 10px;
  background-color: var(--dark-blue);
  
}

.AppWrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 100%;
  background-color: var(--dark-background-color);
}

.Bat {
  max-width: 150px;
}

.MailButton {
  margin: 20px; 
  padding: 7px 55px 7px;
  font-size: 14px;
}

.MailButton > i {
  padding-right: 10px;
  font-size: 15px;
}

.ProfilePic {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

.About > p, h4 {
  text-align: left;
  margin: 5px;
}

.About {
  padding: 10px 40px 40px;
}

.About > p {
  color: var(--gray);
  font-size: 12px;
}

.About > h4 {
  color: var(--light);
  font-weight: 700;
}

.Title > h1 {
  color: var(--white);
  margin: 0;
  padding: 20px 0px 0px;
  font-weight: 700;
  letter-spacing: 0;
}


.Title > h5 {
  color: var(--yellow);
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  padding: 0px 0px 8px;
}

.Title > a {
  color: var(--light);
  font-size: 12px;
  padding: 10px 0px 0px;
  line-height: 10px;
}